<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>远程 API 控制</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0px;
        }

        .page-di a {
            padding: 4px;
            margin: 4px;
            border: 1px solid black;
            display: inline-block;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header">
                    <h1>控制面板<small> &nbsp; <a href="/logout/">退出</a></small></h1>
                </div>
                <label>地区地域选择</label><br>
                <div class="page-di">
                    <a href="/console/ap-bangkok">亚太地区(曼谷) ap-bangkok</a>
                    <a href="/console/ap-beijing">华北地区(北京) ap-beijing</a>
                    <a href="/console/ap-chengdu">西南地区(成都) ap-chengdu</a>
                    <a href="/console/ap-chongqing">西南地区(重庆) ap-chongqing</a>
                    <a href="/console/ap-guangzhou">华南地区(广州) ap-guangzhou</a>
                    <a href="/console/ap-guangzhou-open">华南地区(广州Open) ap-guangzhou-open</a>
                    <a href="/console/ap-hongkong">东南亚地区(中国香港) ap-hongkong</a>
                    <a href="/console/ap-mumbai">亚太地区(孟买) ap-mumbai</a>
                    <a href="/console/ap-seoul">亚太地区(首尔) ap-seoul</a>
                    <a href="/console/ap-shanghai">华东地区(上海) ap-shanghai</a>
                    <a href="/console/ap-shanghai-fsi">华东地区(上海金融) ap-shanghai-fsi</a>
                    <a href="/console/ap-shenzhen-fsi">华南地区(深圳金融) ap-shenzhen-fsi</a>
                    <a href="/console/ap-singapore">东南亚地区(新加坡) ap-singapore</a>
                    <a href="/console/ap-tokyo">亚太地区(东京) ap-tokyo</a>
                    <a href="/console/eu-frankfurt">欧洲地区(法兰克福) eu-frankfurt</a>
                    <a href="/console/eu-moscow">欧洲地区(莫斯科) eu-moscow</a>
                    <a href="/console/na-ashburn">美国东部(弗吉尼亚) na-ashburn</a>
                    <a href="/console/na-siliconvalley">美国西部(硅谷) na-siliconvalley</a>
                    <a href="/console/na-toronto">北美地区(多伦多) na-toronto</a>
                </div>
            </div>
        </div>
    </div>

    <form></form>
</body>

</html>